@charset "UTF-8";
body{
	background:url(../images/login.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}
.main{
	width:100%;
	height:1000px;

}
.loginDiv{
	/* border:1px solid #000 */
	width:18%;
	height:45%;
	background-color: cyan;
	float:right;
	margin:270px 650px;
}
.div_main
{
/* 	border:1px solid #000; */
	width:85%;
	height:85%;
	margin-top:30px;
	margin-left:28px;
}
.login_title{
	/* border:1px solid #000; */
	width:360px;
	height:30px;
	padding-top:12px;
	margin-top:10px;
	margin-left:10px;
}
.login_title span{
	font-size:16px;
	padding-left:10px;
	font-weight:700;
}
.div_name{
	 /* border:1px solid #000;  */
	width:380px;
	height:50px;
	margin-top:10px;
	padding-top:5px;
	margin-left:10px;
	font-size:0;
}
.span_name{
	/* vertical-align:top; */
	display:inline-block;
	width:10%;
	height:90%;
	margin-left:8px;
}
.span_name img{
	width:100%;
	height:100%;
}
.span_input{
	display:inline-block;
	width:65%;
	height:80%;
	vertical-align:top;
}
.span_input input{
	width:100%;
	height:100%;
}
.login_button{
	border:0px;
	margin:20px 0 0 20px;;
	width:289px;
	height:42px;
	color:#fff;
	background:#f40;
	border-radius:3px;
	
}
.operation_div{
	/* border:1px solid #000; */
	margin-top:30px;
	width:350px;
	height:50px;
	margin-left:10px;
}
.operation_div a{
	color:#6c6c6c;
	padding-left:5px;
	font-size:12px;
}
.operation_div span{
	float:right;
	margin-right:60px;
	vertical-align: middle;
}

/* 验证码区域 */

.div_codeName{
	 /* border:1px solid #000;  */
	width:350px;
	height:50px;
	margin-top:10px;
	margin-left:10px;
	padding-top:5px;
}

.div_codeName span{
	/* margin:3px 0px 0  0px; */
	display:inline-block;
	width:60px;
	height:40px;
	vertical-align:top;
	text-align:center;
	line-height:40px;
}
#codeInput_span{
	width:80px;
}

#code{
	width:70px;
	height:70%;
}
#a_span{
	width:160px;
	font-size:8px;
	text-align:center;
}
#a_span a{
	display:inline-block;
	height:100%
	
}
#codeImg{
	margin-top:9px;
}
.div_tips{
	width:300px;
	height:30px;
	margin-left:8px;
	padding-left: 68px;
}
.userp_tips{
	display:inline-block;
	width:75px;
	height:45px;
	font-size:3px;
	margin-left:8px;
}
.input_illegal{
	color:red;
}
#tips{
	width:25px;
}
#error_tips{
	color:red;
	font-size:13px;
	padding-left:15px;
}
